#elbow_curve {
    display: block;
    height: 381px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    
}

#Class_tables {
    height: 400px;
    width: 900px;
    margin-left: auto;
    margin-right: auto
}