#elbow_curve {
    display: block;
    height: 800px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    
}

#Class_tables {
    height: 1600px;
    width: 900px;
    margin-left: auto;
    margin-right: auto
}