#percentages-table {
    width: 1050px;
    margin-left: auto;
    margin-right: auto
}

#contamination-table {
    width: 1050px;
    margin-left: auto;
    margin-right: auto
}

#boxplot-img {
    height: 800px;
    width: 800px;
    margin-left: auto;
    margin-right: auto
}

#boxplot-year {
    height: 800px;
    width: 800px;
    margin-left: auto;
    margin-right: auto
}