#percentages-table {
    width: 900px;
    padding-left: 13em;
}

#contamination-table {
    width: 800px;
    padding-left: 13em;
}

#boxplot-img {
    height: 800px;
    width: 800px;
    padding-left: 13em;
}

#boxplot-year {
    height: 800px;
    width: 800px;
    padding-left: 13em;
}