#percentages-table {
    width: 1050px;
    padding-left: 15em;
}

#contamination-table {
    width: 1050px;
    padding-left: 15em;
}

#boxplot-img {
    height: 800px;
    width: 800px;
    padding-left: 18em;
}

#boxplot-year {
    height: 800px;
    width: 800px;
    padding-left: 18em;
}